/node_modules
/public/hot
/public/storage
/storage/*.key
/vendor
/.idea
/.vscode
/.vagrant
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
# se incluye para evitar que se tenga que reconfigurar
.env
.phpunit.result.cache
